<h2 mat-dialog-title>Descargar reporte</h2>
<mat-dialog-content class="mat-typography">
  <p>En el presente apartado se encontrarán los filtros de descarga de Excel.</p>

  <!-- Filtro de Principios Activos -->
<div class="filter-group">
  <p class="filter-description">Seleccione un principio activo para limitar los resultados.</p>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Principios Activos</mat-label>
    <mat-select [(ngModel)]="selectedPrinciples" multiple>
      <mat-option *ngFor="let principle of principles" [value]="principle">{{ principle }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- Filtro de Estado de Abastecimiento -->
<div class="filter-group">
  <p class="filter-description">Seleccione un estado de abastecimiento para limitar los resultados.</p>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Estado de abastecimiento</mat-label>
    <mat-select [(ngModel)]="selectedStatuses" multiple>
      <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- Filtro de Mes -->
<div class="filter-group">
  <p class="filter-description">Seleccione un mes de interes para limitar los resultados.</p>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Mes</mat-label>
    <mat-select [(ngModel)]="selectedMonths" multiple>
      <mat-option *ngFor="let month of months" [value]="month">{{ month }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- Filtro de Año -->
<div class="filter-group">
  <p class="filter-description">Seleccione un año de interes para limitar los resultados.</p>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Año</mat-label>
    <mat-select [(ngModel)]="selectedYears" multiple>
      <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

  <!-- Filtro ATC en sección expandible -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Más filtros
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="filter-group">
        <mat-label>Filtrar por ATC</mat-label>
        <p class="filter-description">Seleccione un ATC para refinar su búsqueda.</p>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Codigo ATC</mat-label>
          <mat-select [(ngModel)]="selectedCodes" multiple>
            <mat-option *ngFor="let code of codes" [value]="code">{{ code }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>

<!-- Botones de acción -->
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="clearFilters()">Limpiar Filtros</button>
  <button mat-button (click)="downloadExcel()">Descargar Excel</button>
</mat-dialog-actions>
