<h2 mat-dialog-title>Descargar reporte</h2>
<mat-dialog-content class="mat-typography">
  <p>En el presente apartado se encontrarán los filtros de descarga de Excel.</p>

  <!-- Filtro de Principios Activos -->
  <div class="filter-group">
    <p class="filter-description">Seleccione un principio activo para limitar los resultados.</p>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Principios Activos</mat-label>
      <mat-select [(ngModel)]="selectedNames" multiple>
        <mat-option *ngFor="let name of names" [value]="name">{{ name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Filtro de Principios Activos -->
  <div class="filter-group">
    <p class="filter-description">Seleccione un estado de abastecimiento para limitar los resultados.</p>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Estado de abastecimiento</mat-label>
      <mat-select [(ngModel)]="selectedAbastStatuses" multiple>
        <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Filtro ATC en sección expandible -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Más filtros
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="filter-group">
        <mat-label>Filtrar por ATC</mat-label>
        <p class="filter-description">Seleccione un ATC para refinar su búsqueda.</p>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Código ATC</mat-label>
          <mat-select [(ngModel)]="selectedAtcCodes" multiple>
            <mat-option *ngFor="let atcCode of atcCodes" [value]="atcCode">{{ atcCode }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>

<!-- Botones de acción -->
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="clearFilters()">Limpiar Filtros</button>
  <button mat-button (click)="downloadReport()">Descargar Excel</button>
</mat-dialog-actions>
