<div *ngIf="!isLoading">
<div class="p-2 p-md-2 p-xl-3">
  <div class="container">
    <mat-card class="mb-4" style="background: linear-gradient(90deg, #139EC8 0%, #01599A 100%); color: white; border-radius: 10px;">
      <div *ngIf="isLoading">Loading...</div>
      <mat-card-header>
        <div class="d-flex justify-content-between align-items-center w-100">
          <mat-card-title>{{ outofstock.activeprinciple }}</mat-card-title>
          <a mat-button [routerLink]="['/search']" class="ms-2 text-white">Regresar</a>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Expediente:</strong> {{ outofstock.record }}</p>  
        <p><strong>Descripción ATC:</strong> {{ outofstock.atcdescription }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<section class="p-2 p-md-2 p-xl-3">
  <div class="container">
    <h1> <strong>Resumen general</strong></h1>
  </div>
  <div class="container">
    <mat-card-title><strong>Descripción del producto</strong></mat-card-title>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <mat-card-title *ngIf="outofstock.therapeuticgroup">Grupo Terapeutico</mat-card-title>
        <p class="text-left">{{ outofstock.therapeuticgroup }}</p>
      </div>
      <div class="col-md-4">
        <mat-card-title *ngIf="outofstock.product">Producto</mat-card-title>
        <p class="text-left">{{ outofstock.product }}</p>
      </div>
      <div class="col-md-4">
        <mat-card-title *ngIf="outofstock.abaststatus">Estado abastecimiento</mat-card-title>
        <p class="text-left">{{ outofstock.abaststatus }}</p>
      </div>
      <div class="col-md-4">
        <mat-card-title *ngIf="outofstock.pharmaceuticalform">Forma farmaceutica</mat-card-title>
        <p class="text-left">{{ outofstock.pharmaceuticalform }}</p>
      </div>
      <div class="col-md-4">
        <mat-card-title *ngIf="outofstock.atc">ATC</mat-card-title>
        <p class="text-left">{{ outofstock.atc }}</p>
      </div>
      <div class="col-md-4">
        <mat-card-title *ngIf="outofstock.holder">Titular</mat-card-title>
        <p class="text-left">{{ outofstock.holder }}</p>
      </div>
      <div class="col-md-4">
        <mat-card-title *ngIf="outofstock.concentration">Concentración</mat-card-title>
        <p class="text-left">{{ outofstock.concentration }}</p>
      </div>
    </div>
  </div>
</section>
<section class="p-2 p-md-2 p-xl-3">
  <div class="container">
    <mat-card-title><strong>Información de disponibilidad de medicamentos</strong></mat-card-title>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <mat-card-title>Fecha Reporte</mat-card-title>
        <p class="text-left">{{ outofstock.datereport }}</p>
      </div>
      <div class="col-md-4">
        <mat-card-title *ngIf="outofstock.rsstatus">Estado registro sanitario</mat-card-title>
        <p class="text-left">{{ outofstock.rsstatus }}</p>
      </div>
      <div class="col-md-4">
        <mat-card-title *ngIf="outofstock.causes">Causas</mat-card-title>
        <p class="text-left">{{ outofstock.causes }}</p>
      </div>
      <div class="col-md-4">
        <mat-card-title *ngIf="outofstock.dateofstart">Fecha inicio seguimiento</mat-card-title>
        <p class="text-left">{{ outofstock.dateofstart }}</p>
      </div>
      <div class="col-md-4">
        <mat-card-title *ngIf="outofstock.dateend">Fecha ultimo seguimiento</mat-card-title>
        <p class="text-left">{{ outofstock.dateend }}</p>
      </div>
      <div class="col-md-4">
        <mat-card-title *ngIf="outofstock.dateclosing">Fecha cierre</mat-card-title>
        <p class="text-left">{{ outofstock.dateclosing }}</p>
      </div>
    </div>
  </div>
</section>

<section class="p-2 p-md-2 p-xl-3">
  <div class="container">
    <mat-card-title><strong>Información canal institucional</strong></mat-card-title>
    <hr>
    <div class="row">
      <!-- Canal institucinal -->
      <div class="col-md-4">
        <mat-card-title>Canal institucional</mat-card-title>
        <p class="text-left">{{ outofstock.institutionalchannel }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.institutionalyearone">
        <mat-card-title>Ventas 2023 (UMD)</mat-card-title>
        <p class="text-left">{{ outofstock.institutionalyearone }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.institutionalyeartwo">
        <mat-card-title>Ventas 2024 (UMD)</mat-card-title>
        <p class="text-left">{{ outofstock.institutionalyeartwo }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.institutionalcapmax">
        <mat-card-title>Capacidad maxima UMD</mat-card-title>
        <p class="text-left">{{ outofstock.institutionalcapmax }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.institutionalvalueone">
        <mat-card-title>Agosto (UMD)</mat-card-title>
        <p class="text-left">{{ outofstock.institutionalvalueone }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.institutionalvaluetwo">
        <mat-card-title>Septiembre (UMD)</mat-card-title>
        <p class="text-left">{{ outofstock.institutionalvaluetwo }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.institutionalvaluethree">
        <mat-card-title>Octubre (UMD)</mat-card-title>
        <p class="text-left">{{ outofstock.institutionalvaluethree }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.institutionalvaluefour">
        <mat-card-title>Noviembre (UMD)</mat-card-title>
        <p class="text-left">{{ outofstock.institutionalvaluefour }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.institutionalcurrentstatus">
        <mat-card-title>Estado actual</mat-card-title>
        <p class="text-left">{{ outofstock.institutionalcurrentstatus }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.institutionalreasonsnottrade">
        <mat-card-title>Razones no comercialización</mat-card-title>
        <p class="text-left">{{ outofstock.institutionalreasonsnottrade }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.institutionalobsnotcommerce">
        <mat-card-title>Observaciones no comercialización</mat-card-title>
        <p class="text-left">{{ outofstock.institutionalobsnotcommerce }}</p>
      </div>
    </div>
  </div>
</section>

<section class="p-2 p-md-2 p-xl-3">
  <div class="container">
    <mat-card-title><strong>Información canal comercial</strong></mat-card-title>
    <hr>
    <div class="row">
      <!-- Canal comercial -->
      <div class="col-md-4">
        <mat-card-title>Canal comercial</mat-card-title>
        <p class="text-left">{{ outofstock.commercialchannel }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.commercialyearone">
        <mat-card-title>Ventas 2023 (UMD)</mat-card-title>
        <p class="text-left">{{ outofstock.commercialyearone }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.commercialyeartwo">
        <mat-card-title>Ventas 2024 (UMD)</mat-card-title>
        <p class="text-left">{{ outofstock.commercialyeartwo }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.commercialcapmax">
        <mat-card-title>Capacidad maxima UMD</mat-card-title>
        <p class="text-left">{{ outofstock.commercialcapmax }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.commercialvalueone">
        <mat-card-title>Agosto (UMD)</mat-card-title>
        <p class="text-left">{{ outofstock.commercialvalueone }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.commercialvaluetwo">
        <mat-card-title>Septiembre (UMD)</mat-card-title>
        <p class="text-left">{{ outofstock.commercialvaluetwo }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.commercialvaluethree">
        <mat-card-title>Octubre (UMD)</mat-card-title>
        <p class="text-left">{{ outofstock.commercialvaluethree }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.commercialvaluefour">
        <mat-card-title>Noviembre (UMD)</mat-card-title>
        <p class="text-left">{{ outofstock.commercialvaluefour }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.commercialcurrentstatus">
        <mat-card-title>Estado actual</mat-card-title>
        <p class="text-left">{{ outofstock.commercialcurrentstatus }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.commercialreasonsnottrade">
        <mat-card-title>Razones no comercialización</mat-card-title>
        <p class="text-left">{{ outofstock.commercialreasonsnottrade }}</p>
      </div>
      <div class="col-md-4" *ngIf="outofstock.commercialobsnotcommerce">
        <mat-card-title>Observaciones no comercialización</mat-card-title>
        <p class="text-left">{{ outofstock.commercialobsnotcommerce }}</p>
      </div>
    </div>
  </div>
</section>

<section class="p-2 p-md-2 p-xl-3">
  <div class="container">
    <mat-card-title><strong>Resumen</strong></mat-card-title>
    <hr>
    <mat-card-title>Observaciones Invima</mat-card-title>
    <p class="text-left">{{ outofstock.resofinv }}</p>
  </div>
</section>
</div>