<section class="p-1 p-md-2 p-xl-1 text-justify">
  <div class="container">
      <div class="row">
        <!--Titulo -->
        <h1 class="text-center mb-4">NOTAS ACLARATORIAS</h1>
        <!--Aclarariones -->
        <!--Aclar 1 -->
        <strong>
        <p>Para los estados EN RIESGO DE DESABASTECIMIENTO Y DESABASTECIDO, el INVIMA implemetará, según sea el caso, las siguientes estrategias de gestión ante el desabastecimiento de medicamentos a saber: 1) la priorización de los trámites asociados al registro sanitario (Circular DG 1000-0012-2023), 2) Autorización de Importación por única vez, 3) Declarar el medicamento como “vital no disponible”, siempre y cuando cumpla con los establecido en el Decreto 481 de 2004 y 4) se sugiere alternativas terapéuticas disponibles en el mercado.</p>
        <!--Aclar 2 -->
        <p><u>Lo anterior sólo aplicará para el principio activo, concentraciones y forma farmacéutica publicados en el presente listado.</u></p>
        <!--Aclar 3 -->
        <p>Los reportes de disponibilidad informados por los titulares de los registros sanitarios en estado vigente y en trámite de renovación requeridos por el Invima, correponden a las cantidades de unidades en unidades mínimas de dispensación - UMD (tabletas, capsulas, ampollas, frascos, viales) disponibles para comercializar en el mes indicado tanto en el canal comercial como institucional (según corresponda). No se reportan en el presente listados unidades a exportar.</p>
        <!--Aclar 4 -->
        <p>Los seguimientos que se llevan a cabo en atención a las alertas de un posible riesgo de desabastecimiento se enfocan hacia los princios activos, concentraciones y forma farmacológica; más NO se realizan hacia marcas, laboratorios o registros sanitarios en específico.</p>
        </strong>
        <!--Lista -->
        <p>Definición de los <strong>ESTADOS</strong> de clasificación de los principios activos, contemplados por el INVIMA</p>
        <ol> 
            <!--A-->
            <li class="mb-3"><p class="text-success">No hay desabastecimiento:</p> Cuando las cantidades reportadas por los titulares de los registros sanitarios en estado vigentes y en trámite de renovación son suficientes para satisfacer la demanda del medicamento a nivel nacional.</li>
            <!--B -->
            <li class="mb-3"><p class="text-warning">En Monitorización:</p> Seguimiento permanente, debido a que las cantidades disponibles reportadas por los titulares del registro sanitario de un medicamento en seguimiento son limitadas para los siguientes tres meses de comercialización, ó cuando la mayoría de los titulares del registro sanitario no ha entregado el reporte de disponibilidad requerido por el Invima, lo que impide contar con la informacion suficiente para definir, clasificar o reclasificar el estado del medicamento como “no desabastecido”, “riesgo de desabastecimiento” o “desabastecido”.</li>
            <!--C -->
            <li class="mb-3"><p class="text-brown">Riesgo de desabastecimiento:</p> Cuando exista alguna contingencia o situción que pueda llevar en el corto o mediano plazo a que la oferta de un medicamento en seguimiento sea insuficiente para satisfacer las necesidades del país.</li>
            <!--D -->
            <li class="mb-3"><p class="text-danger">Desabastecido:</p> Situación donde existe una insuficiente oferta para satisfacer la demanda de un producto farmacéutico que ya ha sido aprobado por el Invima y comercializado en el país.</li>
            <!--E -->
            <li class="mb-3"><p class="text-info">Temporalmente no comercializado:</p> Aquellas situaciones o incidentes que impiden la comercialización o que conlleven a una interrupción temporal o retiro definitivo del mercado local (decreto 334 de 2022), que impacte en el abastecimiento de medicamentos de síntesis química, gases medicinales, biológicos, homeopáticos y productos fitoterapéuticos, durante la vigencia del registro sanitario, debido a aspectos administrativos, logísticos, técnicos, regulatorios, económicos u otros. Este listado se publica de forma mensual y se encuentra en la ruta: Invima/ inicio/ tramites y servicios/consultas-registros-y-documentos-asociados/medicamentos y productos biologicos/listados registros sanitarios medicamentos/listados de registros sanitarios temporalmente no comercializados.</li>
            <!--F -->
            <li class="mb-3"><p class="text-purple">Descontinuado:</p> Es la interrupción definitiva de la fabricación de Aquellos Ingredientes Farmacéuticos Activos (IFA) que se comercializaron en algún momento en el país y que, en la actualidad por decisión voluntaria del titular del registro sanitario deciden suspender la comercialización, o que, el Instituto Nacional de Vigilancia de Medicamentos y Alimentos (Invima) puede ordenar el retiro preventivo de todos los lotes de los medicamentos con principio activo detectados por generar un riesgo para la salud, ya sea por alertas emitidas por agencias internacionales o por el mismo Instituto.</li>
        </ol>
        <!--Tipos de desabastecidos -->
        <p><strong>DESABASTECIDO **</strong> : Medicamento en estado desabastecido para el que se solicito a La Sala Especializada de Medicamentos de la Comisión Revisora (SEM) la inclusión en el Listado de Medicamentos Vitales No Disponibles (LMVND) y esta pendiente su pronunciamiento, ya que son quienes son la máxima autoridad para determinar si será o no incluido en el listado de medicamentos vitales no disponibles.</p>
        <p><strong>DESABASTECIDO ***</strong>  : Medicamento en estado desabastecido que fue incluido como en el LISTADO DE MEDICAMENTOS VITALES NO DISPONIBLES (LMVND).</p>
        <p><strong>DESABASTECIDO ****</strong> :  Medicamento en estado desabastecido que NO fue incluido en el LISTADO DE MEDICAMENTO VITAL NO DISPONIBLE (LMVND), por tener sustitutos de acuerdo al concepto de la Sala Especializada.</p>
        <!--Recordatorio -->
        <div class="alert alert-success mt-3" role="alert">
            RECUERDE: EL PRESENTE LISTADO ES UN LISTADO DE DIAGNOSTICO, NO DE PRONOSTICO. Por cuanto es el resultado de un proceso dinámico que depende de la oportunidad y calidad en la información reportada por los titulares en diferentes meses del año y la evidenciada en el SISMED. Por ejemplo, un medicamento puede estar desabastecido en un tiempo específico, pero puede luego cambiar su estado a monitorización o no desabastecidos meses después. Por tanto su consulta debe ser mensual.            
        </div>
        <!--Boton -->
        <a class="btn btn-primary" routerLink="search">Consultar</a>
      </div>
    </div>
  </section>