.custom-chip-green {
    color: rgb(19, 180, 19);
}

.custom-chip-yellow {
    color: yellow;
}

.custom-chip-brown {
    color: #8B4513; /* Café */
}

.custom-chip-red {
    color: red;
}

.custom-chip-cyan {
    color: cyan;
}

.custom-chip-purple {
    color: purple;
}