<div class="p-3 p-md-4 p-xl-4">
  <div class="container" *ngIf="principle">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/search']">Consultar</a></li>
          <li class="breadcrumb-item">{{ principle.activePrincipleName }}</li>
        </ol>
      </nav>
      <div>              
      <mat-card class="mt-4 mb-4" >
        <mat-card-header>
          <h1 class="ml-2 text-dark"><strong>RESULTADOS</strong></h1>
        </mat-card-header> 
        <mat-card-content class="container-fluid">
      <div class="container">
        <div class="row align-items-start">
          <div class="col">
            <p><strong>Principio activo:</strong>{{ principle.activePrincipleName }} ({{ principle.actCode }})</p>
          </div>
          <div class="col">
            <p><strong>Descripción ATC:</strong> {{ principle.actDescription || 'No disponible' }}</p>          
          </div>
          <div class="col">
            <p><strong>Fecha de seguimiento inicial:</strong> {{ principle.initialFollowUp | date }}</p>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
            <p><strong>Estado de Abastecimiento:</strong>{{ principle.abastStatusFK.statusAbastName }}</p>
          </div>
          <div class="col">
            <p><strong>Código ATC:</strong> {{ principle.actCode }}</p>
          </div>
          <div class="col">
            <p><strong>Fecha de seguimiento final:</strong> {{ principle.finalFollowUp | date }}</p>        
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col">
            <p><strong>Resumen:</strong> {{ principle.summary || 'No disponible' }}</p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

      <mat-card class="mb-4">
        <mat-card-content>
          <mat-tab-group>
            <mat-tab *ngFor="let nota of notas" [label]="nota.label">
              <div class="container mb-4">
                    <div class="d-flex justify-content-between align-items-center w-100">
                      <div [innerHTML]="nota.content"></div> <!-- Aquí usamos innerHTML para mostrar el contenido HTML -->
                    </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
  </div>
</div>