<div class="p-3 p-md-4 p-xl-4">
  <div class="container" *ngIf="principle">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/search']">Consultar</a></li>
        <li class="breadcrumb-item">{{ principle.activePrincipleFK?.activePrincipleName || 'No encontrado' }}</li>
      </ol>
    </nav>
    <div>     
      <mat-card class="mb-4">
        <mat-card-content>
          <section class="p-2 p-md-2 p-xl-3">
            <div class="container">
              <h1><strong>Resultado</strong></h1>
            </div>
            <div class="container">
              <hr>
              <div class="row">
                <div class="col-md-4">
                  <mat-card-title><strong>Principio activo</strong></mat-card-title>
                  <p class="text-left">{{ principle.activePrincipleFK?.activePrincipleName || 'No encontrado' }}</p>
                </div>
                <div class="col-md-4">
                  <mat-card-title><strong>Codigo ATC</strong></mat-card-title>
                  <p class="text-left">{{ principle.activePrincipleFK?.atcCode || 'No disponible' }}</p>
                </div>
                <div class="col-md-4">
                  <mat-card-title><strong>Descripción ATC</strong></mat-card-title>
                  <p class="text-left">{{ principle.activePrincipleFK?.atcDescription || 'No disponible' }}</p>
                </div>
                <div class="col-md-4">
                  <mat-card-title><strong>Estado abastecimiento</strong></mat-card-title>
                  <p class="text-left">{{ principle.abastStatusFK?.statusAbastName || 'No disponible' }}</p>
                </div>
                <div class="col-md-4">
                  <mat-card-title><strong>Concentración</strong></mat-card-title>
                  <p class="text-left">{{ principle.activePrincipleFK?.concentration || 'No disponible' }}</p>
                </div>
                <div class="col-md-4">
                  <mat-card-title><strong>Forma farmacéutica</strong></mat-card-title>
                  <p class="text-left">{{ principle.activePrincipleFK?.pharmaceuticalFormFK?.pharmaceuticalFormName || 'No disponible' }}</p>
                </div>
                <div class="col-md-4">
                  <mat-card-title><strong>Fecha de seguimiento inicial</strong></mat-card-title>
                  <p class="text-left">{{ principle.initialFollowUp || 'No disponible' }}</p>
                </div>
                <div class="col-md-4">
                  <mat-card-title><strong>Fecha de seguimiento final</strong></mat-card-title>
                  <p class="text-left">{{ principle.finalFollowUp || 'No disponible' }}</p>
                </div>
                <div class="col-md-4">
                  <mat-card-title><strong>Fecha de cierre</strong></mat-card-title>
                  <p class="text-left">{{ principle.finishDate || 'No disponible' }}</p>
                </div>
              </div>
            </div>
          </section>
        </mat-card-content>
      </mat-card>

      <!-- Mostrar mensaje si no hay tabs -->
      <mat-card class="mb-4" *ngIf="tabs.length === 0">
        <mat-card-content>
          <p>No hay productos disponibles para este principio activo.</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="mb-4" *ngIf="tabs.length > 0">
        <mat-card-content>
          <mat-tab-group *ngIf="tabs.length > 0" aria-label="Product Tabs">
            <mat-tab *ngFor="let tab of tabs" [label]="tab.label">
              <div [innerHTML]="tab.content"></div>
            </mat-tab>
          </mat-tab-group>
          <div class="d-flex justify-content-center align-items-center">
            <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
          </div>
          <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>