<div class="p-3 p-md-4 p-xl-4">
  <div class="container" *ngIf="principle">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/search']">Consultar</a></li>
          <li class="breadcrumb-item">{{ principle.activePrincipleName }}</li>
        </ol>
      </nav>
      <div>              
      <mat-card class="mt-4 mb-4" >
        <mat-card-content class="container-fluid">
      <div class="container">
        <section class="p-2 p-md-2 p-xl-3">
          <div class="container">
            <h1><strong>Resumen general</strong></h1>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4">
              <h4><strong>Principio activo:</strong></h4>
              <p class="text-left">{{ principle.activePrincipleName }} ({{ principle.actCode }})</p>
            </div>
            <div class="col-md-4">
              <h4><strong>Descripción ATC:</strong></h4>
              <p class="text-left">{{ principle.actDescription || 'No disponible' }}</p>
            </div>
            <div class="col-md-4">
              <h4><strong>Fecha de seguimiento inicial:</strong></h4>
              <p class="text-left">{{ principle.initialFollowUp | date }}</p>
            </div>
            <div class="col-md-4">
              <h4><strong>Estado de Abastecimiento:</strong></h4>
              <p class="text-left">{{ principle.abastStatusFK.statusAbastName }}</p>
            </div>
            <div class="col-md-4">
              <h4><strong>Código ATC:</strong></h4>
              <p class="text-left">{{ principle.actCode }}</p>
            </div>
            <div class="col-md-4">
              <h4><strong>Fecha ultimo seguimiento:</strong></h4>
              <p class="text-left">{{ principle.finalFollowUp | date }}</p>
            </div>
            <div class="col-md-4">
              <h4><strong>Resumen:</strong></h4>
              <p class="text-left">{{ principle.summary || 'No disponible' }}</p>
            </div>
          </div>
        </section>
      </div>
    </mat-card-content>
  </mat-card>

      <mat-card class="mb-4">
        <mat-card-content>
          <mat-tab-group>
            <mat-tab *ngFor="let nota of notas" [label]="nota.label">
              <div class="container mb-4">
                    <div class="d-flex justify-content-between align-items-center w-100">
                      <div [innerHTML]="nota.content"></div> <!-- Aquí usamos innerHTML para mostrar el contenido HTML -->
                    </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
  </div>
</div>