@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

#options{
    background: linear-gradient(90deg, #139EC8 0%, #01599A 100%);
    }

    .badge bg-primary{
      background: linear-gradient(90deg, #139EC8 0%, #01599A 100%);
    }

  .footer{
    background: linear-gradient(90deg, #139EC8 0%, #01599A 100%);
  }
  .copyright{
    color: white;
  }
/* Ocultar fila en dispositivos pequeños */
@media (max-width: 535px) {
    .campo {
        display: none !important;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
