@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.custom-chip-green {
  background-color: #42ab49af !important;
  color: white;
}

.custom-chip-yellow {
  background-color: #ffaf3886 !important;
  color: #FF9800;
}

.custom-chip-brown {
  background-color: #c19982 !important;
  color: white;
}

.custom-chip-red {
  background-color: #e2504c !important;
  color: white;
}

.custom-chip-cyan {
  background-color: #00cbcc !important;
  color: white;
}

.custom-chip-purple {
  background-color: #e0b4ec !important;
  color: #7404a4;
}

.custom-chip-basic{
 color: black;
}

#options{
    background: linear-gradient(90deg, #139EC8 0%, #01599A 100%);
    }

  .footer{
    background: linear-gradient(90deg, #139EC8 0%, #01599A 100%);
  }
  .copyright{
    color: white;
  }
/* Ocultar fila en dispositivos pequeños */
@media (max-width: 535px) {
    .campo {
        display: none !important;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Nunito Sans", sans-serif; }