@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

/* Box Shadow Cards*/
.custom-chip-green {
  box-shadow: 0 5px 10px #42ab49; border-radius: 10px;
}

.custom-chip-yellow {
  box-shadow: 0 5px 10px #ff9800; border-radius: 10px;

}

.custom-chip-brown {
  box-shadow: 0 5px 10px #c19982; border-radius: 10px;

}

.custom-chip-red {
  box-shadow: 0 5px 10px #e2504c; border-radius: 10px;

}

.custom-chip-cyan {
  box-shadow: 0 5px 10px #00cbcc; border-radius: 10px;
}

.custom-chip-purple {
  box-shadow: 0 5px 10px #7f00b2; border-radius: 10px;
}

.custom-chip-basic{
  box-shadow: 0 5px 10px #000000; border-radius: 10px;
}

#options{
    background: linear-gradient(90deg, #139EC8 0%, #01599A 100%);
    }

  .footer{
    background: linear-gradient(90deg, #139EC8 0%, #01599A 100%);
  }
  .copyright{
    color: white;
  }
/* Ocultar fila en dispositivos pequeños */
@media (max-width: 535px) {
    .campo {
        display: none !important;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Nunito Sans", sans-serif; }