@media (max-width: 1400px) {
  .stacked {
    display: block;
    margin-top: 10px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .custom-button {
    display: block;
    margin-top: -20px;
  }
}

/* Estilo para las tarjetas con efecto flip */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 350px; /* Cambiar para que la altura sea automática */
  perspective: 1000px; /* Necesario para el efecto 3D */
  margin-bottom: 30px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.5s;
  transform-style: preserve-3d; /* Asegura que la parte posterior sea visible al voltear */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); /* Gira la tarjeta cuando se hace hover */
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  backface-visibility: hidden; /* Oculta la parte trasera cuando se voltea */
}

.flip-card-front {
  background-color: #f8f9fa; /* Color de fondo de la parte frontal */
  display: flex;
  flex-direction: column; /* Asegura que los elementos dentro de la tarjeta se organicen en columna */
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg); /* La parte trasera comienza girada 180 grados */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagen dentro de la tarjeta frontal */
.flip-card-front img {
  max-width: 100%; /* Asegura que la imagen no se desborde */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Mantiene la imagen en su contenedor sin distorsionarse */
}

/* Ajuste adicional para la tarjeta frontal para que se ajuste a la imagen */
.flip-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
}

/* Estilo para la tarjeta (para asegurar que los elementos no se desborden) */
.card-body {
  overflow: hidden;
}
