<div class="p-3 p-md-4 p-xl-5">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Consultar</li>
      </ol>
    </nav>
    <mat-card class="mc-1" style="background: linear-gradient(90deg, #139EC8 0%, #01599A 100%);">
      <mat-card-header>
        <h1 class="ml-2 text-white"><strong>RESULTADOS {{ filteredCount }}</strong></h1>
      </mat-card-header>
      
      <mat-card-content class="container-fluid">
        <!-- Alineación de los elementos con d-flex y align-items-center -->
        <div class="row d-flex align-items-center">
          
          <!-- Buscador -->
          <div class="col-12 col-md-4 mb-3">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Buscar...</mat-label>
              <input matInput [(ngModel)]="searchTerm" (ngModelChange)="updatePagedOutofstocks()">
            </mat-form-field>
          </div>
    
          <!-- Filtro de Estado Abastecimiento -->
          <div class="col-12 col-md-4 mb-3">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Estado Abastecimiento</mat-label>
              <mat-select [(value)]="selectedAbastStatus" (selectionChange)="updatePagedOutofstocks()">
                <mat-option *ngFor="let status of abastStatusList" [value]="status">{{ status }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    
          <!-- Enlace de descarga -->
          <div class="col-12 col-md-4 mb-3 text-md-right">
            <button mat-button class="btn text-white" (click)="openDialog()">Descargar reporte</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>    

    <!-- Cards -->
    <div class="row g-4 mt-4">
      <div class="col-md-6" *ngFor="let outofstock of pagedOutofstocks">
        <mat-card>
          <div class="d-flex justify-content-between align-self-end">
            <a mat-button [routerLink]="['/see', outofstock.id]" class="align-self-end">Ver Más</a>
          </div>
          <mat-card-content>
            <mat-card-title>{{ outofstock.activeprinciple }}</mat-card-title>
            <div class="row text-center">
              <mat-chip-set aria-label="Fish selection">  
                <div class="col-md-3 stacked">
                  <mat-card-subtitle>Expediente</mat-card-subtitle>
                  <mat-chip [ngClass]="getColorClass(outofstock.abaststatus)">
                    <a [ngClass]="getColorClass(outofstock.abaststatus)" class="text-decoration-none">{{ outofstock.record ? outofstock.record : 'Sin expediente'  }}</a>
                  </mat-chip>
                </div>
                <div class="col-md-6 stacked">
                  <mat-card-subtitle>Estado abastecimiento</mat-card-subtitle>
                  <!-- Aquí aplicamos la verificación del estado -->
                  <mat-chip [ngClass]="getColorClass(outofstock.abaststatus)">
                    <a [ngClass]="getColorClass(outofstock.abaststatus)" class= "text-decoration-none">{{ outofstock.abaststatus ? outofstock.abaststatus : 'Sin estado' }}</a>
                  </mat-chip>
                </div>
                <div class="col-md-3 stacked">
                  <mat-card-subtitle>Atc</mat-card-subtitle>
                  <mat-chip [ngClass]="getColorClass(outofstock.abaststatus)">
                    <a [ngClass]="getColorClass(outofstock.abaststatus)" class="text-decoration-none">{{ outofstock.atc ? outofstock.atc : 'Sin atc' }}</a>
                  </mat-chip>
                </div>
              </mat-chip-set>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-5">
      <mat-paginator 
      [length]="filteredOutofstocks.length" 
      [pageSize]="pageSize" 
      [pageSizeOptions]="[5, 10, 20]" 
      (page)="onPageChange($event)">
      </mat-paginator>     
    </div>
  </div>
</div>