.custom-btn {
    color: white;
    background-color: #139EC8; /* Azul */
    border: 2px solid #139EC8;
    border-radius: 4px;
    font-weight: bold;
    padding: 14px 20px;
    transition: background-color 0.3s, color 0.3s; /* Suaviza la transición al hacer hover */
}

.custom-btn:hover {
    background-color: #f6f6f6; /* Gris claro, que es similar al fondo de la página */
    color: #139EC8; /* El color azul para el texto */
}

.custom-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(19, 158, 200, 0.5);
}

img {
    width: 700px;
    background-color: transparent; /* Asegurando que no haya un color de fondo adicional */
}

h1 {
    font-size: 2.7rem; 
    font-weight: 550;
    color: #139EC8; 
}

p {
    font-size: 20px; 
    color: #139EC8; 
}