<section class="p-1 p-md-2 mt-4 p-xl-1 text-justify d-flex align-items-center">
    <div class="container text-center">
        <h1 class="font-weight-bold mt-4">Perdimos esta página</h1>
        <br>
        <p>Buscamos alto y bajo, pero no pudimos encontrar lo que buscabas.</p>
        <p class="mb-4">Busquemos un lugar mejor para ir.</p>
        <div class="d-flex justify-content-center">
            <button class="btn w-50 custom-btn" routerLink="/">Ir a la página de inicio</button>
        </div>
        <img src="assets/images/backgrounds/404.png" alt="Imagen seleccionada" class="img-fluid">
    </div>
</section>